<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Customer Registration</title>
   <link rel="stylesheet" href="/public/customerReg.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

   <!-- <script src="https://kit.fontawesome.com/d091d0e08c.js" crossorigin="anonymous"></script> -->
</head>

<body class="container">
   <h1>Customer Registration Form</h1>
   <p>Fill in all the required details to create an account.</p>
   <form action="/customer/registration" method="POST">

      <fieldset class="col-md-12">
         <legend class="col-md-4">Personal Information</legend>

         <div class="panel panel-default">
            <div class="panel-body">
               <div class="form-row">
                  <div class="col-md-4 mb-3">
                     <label for="validationDefault01">First name</label>
                     <input type="text" class="form-control" id="validationDefault01" placeholder="enter first name"
                        value="enter first name" name="firstName" required>
                  </div>
                  <div class="col-md-4 mb-3">
                     <label for="validationDefault02">Last name</label>
                     <input type="text" class="form-control" id="validationDefault02" placeholder="enter last name"
                        value="enter last name" name="lastName" required>
                  </div>
                  <div class="col-md-4 mb-3">
                     <label for="validationDefaultUsername">ID Number</label>
                     <div class="input-group">
                        <input type="text" class="form-control" id="validationDefaultUsername"
                           placeholder="National ID  Number" aria-describedby="inputGroupPrepend2" name="idNum"
                           required>
                     </div>
                  </div>
               </div>
            </div>

            <div class="form-row">
               <div class="form-group col-md-4">
                  <label for="inputCity">Place of Residence</label>
                  <input type="text" class="form-control" id="residence" name="residence"
                     placeholder="21E, Mulimira Zone, Block 28B">
               </div>
               <div class="form-group col-md-4">
                  <label for="inputState">Division</label>
                  <select type="text" id="inputState" class="form-control" name="resDivision">
                     <option selected>Nakawa Division</option>
                     <option>Rubaga Division</option>
                     <option>Kawempe Division</option>
                  </select>
               </div>
               <div class="form-group col-md-4">
                  <label for="inputZip">Parish</label>
                  <select type="text" class="form-control" id="parish" name="parish">
                     <option selected>Mulimira Zone</option>
                     <option>St. Agnes Zone</option>
                     <option>Sebbowa Zone</option>
                  </select>
               </div>
            </div>

            <div class="form-row">
               <div class="col-md-4 mb-3">
                  <label for="validationDefault03">Email Address</label>
                  <input type="email" class="form-control" id="validationDefault03" placeholder="email address"
                     name="email" required>
               </div>
               <div class="col-md-4 mb-3">
                  <label for="validationDefault04">Phone Number</label>
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <div class="input-group-text">+256</div>
                     </div>
                     <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="XXX-XXXXXX"
                        name="phone">
                  </div>
               </div>
               <div class="col-md-4 mb-3">
                  <label for="validationDefault05">Date of birth</label>
                  <input type="date" class="form-control" id="validationDefault05" placeholder="DD/MM/YY" name="dob"
                     required>
               </div>
            </div>
         </div>
         </div>
      </fieldset>
      <br>


      <fieldset class="col-md-12">
         <legend class="col-md-4">Asset Information</legend>

         <div class="panel panel-default">
            <div class="form-row">
               <div class="col-md-3 mb-3">
                  <label for="validationDefault01">Vehicle type</label>
                  <select type="text" class="form-control" id="vehicle" name="vehicle">
                     <option selected>Motorcycle</option>
                     <option>Tuktuk</option>
                  </select>
               </div>
               <div class="form-group col-md-3">
                  <label for="inputState">Stage name</label>
                  <select id="inputState" class="form-control" name="stageName">
                     <option selected>Acacia Mall Stage B</option>
                     <option>Kobil Kamwokya Stage</option>
                     <option>Mediteraneo Stage</option>
                  </select>
               </div>
               <div class="form-group col-md-3">
                  <label for="inputZip">Division</label>
                  <select type="text" class="form-control" id="parish" name="workDivision">
                     <option selected>Nakawa Division</option>
                     <option>Rubaga Division</option>
                     <option>Kawempe Division</option>
                  </select>
               </div>
               <div class="form-group col-md-3">
                  <label for="inputCity">Stage Chairman</label>
                  <input type="text" class="form-control" id="chairman" name="chairman">
               </div>
            </div>

            <div class="form-row">
               <div class="col-md-3 mb-3">
                  <label for="validationDefault03">Serial Number</label>
                  <input type="text" class="form-control" id="validationDefault03" name="serialNum"
                     placeholder="Chasis/VIN">
               </div>
               <div class="col-md-3 mb-3">
                  <label for="validationDefault05">Registration date</label>
                  <input type="date" class="form-control" id="validationDefault05" placeholder="DD/MM/YY" name="regDate"
                     required>
               </div>
               <div class="form-group col-md-3">
                  <label for="inputZip">Vehicle Make</label>
                  <select type="text" class="form-control" id="vmake" name="vmake">
                     <option selected>Mahindra</option>
                     <option>Hero</option>
                     <option>Bajaj</option>
                     <option>Honda</option>
                  </select>
               </div>
               <div class="form-group col-md-3">
                  <label for="inputZip">Business Type</label>
                  <select type="text" class="form-control" id="business" name="business">
                     <option selected>BodaBoda</option>
                     <option>Delivery Vehicle</option>
                     <option>Passenger Vehicle</option>
                  </select>
               </div>
            </div>
         </div>
      </fieldset>
      <br>

      <fieldset class="col-md-12">
         <legend class="col-md-4">Payment Details</legend>

         <div class="panel panel-default">
            <div class="panel-body">
               <div class="form-row">
                  <div class="col-md-3 mb-3">
                     <label for="validationDefault02">Payment Period</label>
                     <select type="text" class="form-control" id="validationDefault02" name="period" required>
                        <option selected> 1 year</option>
                        <option>2 years</option>
                        <option>3 years</option>
                     </select>
                  </div>
                  <div class="col-md-3 mb-3">
                     <label for="validationDefault04">Initial Payment</label>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <div class="input-group-text">UGX</div>
                        </div>
                        <input type="text" class="form-control" id="initPay" name="initPay">
                     </div>
                  </div>
                  <div class="col-md-3 mb-3">
                     <label for="validationDefault04">Balance Payment</label>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <div class="input-group-text">UGX</div>
                        </div>
                        <input type="text" class="form-control" id="initPay" name="balPay">
                     </div>
                  </div>
                  <div class="col-md-3 mb-3">
                     <label for="validationDefault04">Monthly Payment</label>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <div class="input-group-text">UGX</div>
                        </div>
                        <input type="text" class="form-control" id="initPay" name="monthlyPay">
                     </div>
                  </div>
               </div>

               <div class="panel-body">
                  <div class="form-row">
                     <div class="col-md-6 mb-3">
                        <label for="validationDefault03">Customer ID</label>
                        <input type="text" class="form-control" id="validationDefault03" name="customerID"
                           placeholder="enter serial number" required>
                     </div>

                     <div class="col-md-3 mb-3">
                        <label for="validationDefault03">Referee</label>
                        <input type="text" class="form-control" id="validationDefault03" name="refName"
                           placeholder="enter referee's name" required>
                     </div>
                     <div class="col-md-3 mb-3">
                        <label for="validationDefault04">Referee Phone Number</label>
                        <div class="input-group mb-3">
                           <div class="input-group-prepend">
                              <div class="input-group-text">+256</div>
                           </div>
                           <input type="text" class="form-control" id="inlineFormInputGroup" name="refNum"
                              placeholder="XXX-XXXXXX">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </fieldset>
      <br>
      <div class="row" style="display:flex">
         <div class="col-lg-12">
            <button type="reset" class="btn btn-dark col-md-2 float-right" style="margin-left:5px">Reset</button>
            <button type="submit" class="btn btn-success col-md-2 float-right">Submit</button>
         </div>
      </div>
   </form>
</body>

</html>