doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Customer Registration
    link(rel="stylesheet" href="/static/customerReg.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    // <script src="https://kit.fontawesome.com/d091d0e08c.js" crossorigin="anonymous"></script>
  body.container
    h1 #{title}
    p Fill in all the required details to create an account.
    form(action="/customer/registration" method="POST")
      fieldset.col-md-12
        legend.col-md-4 Personal Information
        .panel.panel-default
          .panel-body
            .form-row
              .col-md-4.mb-3
                label(for="validationDefault01") First name
                input#validationDefault01.form-control(type="text" placeholder=`${customerEdit.firstName}` name="firstName")
              .col-md-4.mb-3
                label(for="validationDefault02") Last name
                input#validationDefault02.form-control(type="text" placeholder="enter last name" value="enter last name" name="lastName" required="")
              .col-md-4.mb-3
                label(for="validationDefaultUsername") ID Number
                .input-group
                  input#validationDefaultUsername.form-control(type="text" placeholder="National ID  Number" aria-describedby="inputGroupPrepend2" name="idNum" required="")
          .form-row
            .form-group.col-md-4
              label(for="inputCity") Place of Residence
              input#residence.form-control(type="text" name="residence" placeholder="21E, Mulimira Zone, Block 28B")
            .form-group.col-md-4
              label(for="inputState") Division
              select#inputState.form-control(type="text" name="resDivision")
                option(selected="") Nakawa Division
                option Rubaga Division
                option Kawempe Division
            .form-group.col-md-4
              label(for="inputZip") Parish
              select#parish.form-control(type="text" name="parish")
                option(selected="") Mulimira Zone
                option St. Agnes Zone
                option Sebbowa Zone
          .form-row
            .col-md-4.mb-3
              label(for="validationDefault03") Email Address
              input#validationDefault03.form-control(type="email" placeholder="email address" name="email" required="")
            .col-md-4.mb-3
              label(for="validationDefault04") Phone Number
              .input-group.mb-3
                .input-group-prepend
                  .input-group-text +256
                input#inlineFormInputGroup.form-control(type="text" placeholder="XXX-XXXXXX" name="phone")
            .col-md-4.mb-3
              label(for="validationDefault05") Date of birth
              input#validationDefault05.form-control(type="date" placeholder="DD/MM/YY" name="dob" required="")
      br
      fieldset.col-md-12
        legend.col-md-4 Asset Information
        .panel.panel-default
          .form-row
            .col-md-3.mb-3
              label(for="validationDefault01") Vehicle type
              select#vehicle.form-control(type="text" name="vehicle")
                option(selected="") Motorcycle
                option Tuktuk
            .form-group.col-md-3
              label(for="inputState") Stage name
              select#inputState.form-control(name="stageName")
                option(selected="") Acacia Mall Stage B
                option Kobil Kamwokya Stage
                option Mediteraneo Stage
            .form-group.col-md-3
              label(for="inputZip") Division
              select#parish.form-control(type="text" name="workDivision")
                option(selected="") Nakawa Division
                option Rubaga Division
                option Kawempe Division
            .form-group.col-md-3
              label(for="inputCity") Stage Chairman
              input#chairman.form-control(type="text" name="chairman")
          .form-row
            .col-md-3.mb-3
              label(for="validationDefault03") Serial Number
              input#validationDefault03.form-control(type="text" name="serialNum" placeholder="Chasis/VIN")
            .col-md-3.mb-3
              label(for="validationDefault05") Registration date
              input#validationDefault05.form-control(type="date" placeholder="DD/MM/YY" name="regDate" required="")
            .form-group.col-md-3
              label(for="inputZip") Vehicle Make
              select#vmake.form-control(type="text" name="vmake")
                option(selected="") Mahindra
                option Hero
                option Bajaj
                option Honda
            .form-group.col-md-3
              label(for="inputZip") Business Type
              select#business.form-control(type="text" name="business")
                option(selected="") BodaBoda
                option Delivery Vehicle
                option Passenger Vehicle
      br
      fieldset.col-md-12
        legend.col-md-4 Payment Details
        .panel.panel-default
          .panel-body
            .form-row
              .col-md-3.mb-3
                label(for="validationDefault02") Payment Period
                select#validationDefault02.form-control(type="text" name="period" required="")
                  option(selected="")  1 year
                  option 2 years
                  option 3 years
              .col-md-3.mb-3
                label(for="validationDefault04") Initial Payment
                .input-group.mb-3
                  .input-group-prepend
                    .input-group-text UGX
                  input#initPay.form-control(type="text" name="initPay")
              .col-md-3.mb-3
                label(for="validationDefault04") Balance Payment
                .input-group.mb-3
                  .input-group-prepend
                    .input-group-text UGX
                  input#initPay.form-control(type="text" name="balPay")
              .col-md-3.mb-3
                label(for="validationDefault04") Monthly Payment
                .input-group.mb-3
                  .input-group-prepend
                    .input-group-text UGX
                  input#initPay.form-control(type="text" name="monthlyPay")
            .panel-body
              .form-row
                .col-md-6.mb-3
                  label(for="validationDefault03") Customer ID
                  input#validationDefault03.form-control(type="text" name="customerID" placeholder="enter serial number" required="")
                .col-md-3.mb-3
                  label(for="validationDefault03") Referee
                  input#validationDefault03.form-control(type="text" name="refName" placeholder="enter referee's name" required="")
                .col-md-3.mb-3
                  label(for="validationDefault04") Referee Phone Number
                  .input-group.mb-3
                    .input-group-prepend
                      .input-group-text +256
                    input#inlineFormInputGroup.form-control(type="text" name="refNum" placeholder="XXX-XXXXXX")
      br
      .row(style="display:flex")
        .col-lg-12
          button.btn.btn-dark.col-md-2.float-right(type="reset" style="margin-left:5px") Reset
          button.btn.btn-success.col-md-2.float-right(type="submit") Submit

