<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Boda Asset Login</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
   .login,
   .image {
      min-height: 100vh;
   }

   .bg-image {
      background-image: url('/static/images/BAJAJ-Boxer.jpg');
      background-size: cover;
      background-position: center center;
   }
</style>

<body>
   <div class="container-fluid">
      <div class="row no-gutter">
         <!-- The image half -->
         <div class="col-md-6 d-none d-md-flex bg-image"></div>


         <!-- The content half -->
         <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

               <!-- Demo content-->
               <div class="container">
                  <div class="row">
                     <div class="col-lg-10 col-xl-7 mx-auto">
                        <img class="float-right" src="/static/images/logo_boda.png" style="width:60px" alt="">
                        <h3 class="display-4" style="margin-top:150px">Log into your account</h3>
                        <p class="text-muted mb-4">We always strive to make a meaningful connections with our clients.
                           Make your impact today.</p>
                        <br>

                        <form action="/customer" method="GET" onsubmit="return validateLog()" id="loginForm"
                           name="loginForm">
                           <div class="form-group mb-3">
                              <input id="inputEmail" type="text" placeholder="Username" required="" autofocus=""
                                 class="form-control rounded-pill border-0 shadow-sm px-4">
                           </div>
                           <div class="form-group mb-3">
                              <input id="inputPassword" type="password" placeholder="Password" required=""
                                 class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                           </div>
                           <div class="custom-control custom-checkbox mb-3">
                              <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                              <label for="customCheck1" class="custom-control-label">Remember password</label>
                           </div>
                           <button type="submit"
                              class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign
                              in</button>
                           <br>
                           <div class="container">
                              <hr>
                              &copy; Copyright 2020, A Gerald Ssali Holdings Company</p>
                           </div>

                        </form>
                     </div>
                  </div>
               </div><!-- End -->

            </div>
         </div><!-- End -->

      </div>
   </div>
</body>

</html>